[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/matrix"]
	path = bundle/matrix
	url = git://github.com/uguu-org/vim-matrix-screensaver
[submodule "bundle/unite"]
	path = bundle/unite
	url = git://github.com/Shougo/unite.vim.git
